nav {
    background: #eef9bf;
    /* line-height: 60px; */
    padding-top: 10px;
    padding-bottom: 10px;
   
}
nav .fixed-width {
    display: block;
    /* justify-content: space-between; */
}
nav .menu ul {
    display: block;
}
nav .menu li {
    list-style: none;
}
nav a {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    text-decoration: none;
    color:#222222;
    transition: .3s;
}
nav .menu a:hover {
    background: #a7e9af;
}
nav .logo{
    font-size: 20px;
    
}
/* 手機不會有hover的反應，但可視情況保留 */
@media (min-width:600px){
    nav {
        background: #eef9bf;
        /* line-height: 60px; */
        padding-top: 10px;
        padding-bottom: 10px;
       
    }
    nav .fixed-width {
        display: flex;
        /* justify-content: space-between; */
    }
    nav .menu ul {
        display: flex;
    }
    nav .menu {
        margin-left: auto;
    }
    nav .menu a:hover {
        background: #a7e9af;
    }
}
/* p default */
p {
    margin-top: 30px;
    margin-bottom: 30px;
    line-height: 1.5em;
}
/* title  */
.title {
    text-align: center;
    border-bottom: 1px dotted #3f3f3f;
    padding-bottom: 15px;
}
/* header */

header {
    background-image: url('https://scontent.ftpe8-4.fna.fbcdn.net/v/t31.0-8/s960x960/17991679_785061661659923_1418046379047896465_o.jpg?_nc_cat=102&_nc_ohc=blEOAlkeLooAX-8RIeS&_nc_ht=scontent.ftpe8-4.fna&_nc_tp=7&oh=706085c208b210627c05d4c5977f2491&oe=5F00FAFE');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left top;
    /* height: 150px; */
    padding-top: 250px;
    padding-bottom: 250px;
}
header h1 {
    padding-top: 20px;
    font-size: 50px;
    color:#f8f6f6;
    text-shadow: 3px 3px 3px rgb(15, 14, 14);
}
header p {
    font-size:20px;
    color:#222222;
    
    /* text-shadow: 3px 3px 3px rgb(178, 230, 165); */

}
header .row {
    /* justify-content: center; */
    text-align: center;
    color: #eee;
}
@media (min-width:600px){
    header {
        background-position:top;
        padding-top: 250px;
        padding-bottom: 250px;
    }
    header h1 {
        color:#222222;
        text-shadow: 3px 3px 3px white;
        
    }

}
/* about */
#about {
    padding-top: 150px;
    padding-bottom: 150px;
    background: #f1f9f9;
}
/* #about h1 {
    text-align: center;
    border-bottom: 1px dotted #3f3f3f;
    padding-bottom: 15px;
} */
/* #about p { */
    /* margin-top: 30px; */
    /* margin-bottom: 30px; */
    /* line-height: 1.5em; */
/* } */

/* product */
/* #product h1 {
    text-align: center;
    border-bottom: 1px dotted #3f3f3f;
    padding-bottom: 15px;
} */
#product {
    padding-top: 150px;
    padding-bottom: 150px;
    background: #f3dfe3;
}
#product .product-title {
    display: block;
    text-align: center;
}
/* action */
/* #action h1 {
    text-align: center;
    border-bottom: 1px dotted #3f3f3f;
    padding-bottom: 15px;
} */
#action {
    padding-top: 150px;
    padding-bottom: 150px;
}
#action .row {
    align-items: center;
}
/* contact */
#contact {
    background: #e7e7e7;
    padding-top: 150px;
    padding-bottom: 150px;
}
#contact .row {
    justify-content: center;
}
#comment {
    height: 250px;
}
.submit {
    text-align: center;
}

/* footer */
footer {
    background: #cccccc;
    padding-top: 50px;
}
footer h3 {
    margin-bottom: 20px;
}
footer li {
    list-style: none;
    line-height: 1.6em;
}
footer a {
    color: #222;
    font-size: 14px;
    text-decoration: none;
}
footer a:hover {
    text-decoration: underline;
}

/*sns  */

.sns ul {
    display: flex;
}
.sns li {
    margin-right: 10px;
}
.sns a {
    display: inline-block;
    width: 33px;
    height:33px;
    border: 1px solid #222222;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: .6s
}
.sns a:hover {
    border: 1px solid #222222;
    background: #222;
    color: #eee;
}
.sns a i {
    vertical-align: middle;
}
#gotop{
    display:block;
    position:fixed;
    right: 15px;
    bottom: 15px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-decoration: none;
    text-align: center;
    background: #b7472a;
    color:white;
    border-radius: 50%;
    box-shadow:2px 2px 3px #5c4444;
}
#gotop:hover{
    background: #eecdac;
    color:#5a524b;
   
}